body {
   padding: 0px;
   font-family: 'PT Sans', Arial, sans-serif;
   font-size: 14px;
   line-height: 21px;
   text-transform: uppercase;
   width: 1200px;
   margin: 0 auto;
   background-color: #fff;
   box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

a {
   text-decoration: none;
}

.main-navigation-wrapper {
   width: 100%;
}

.main-navigation {
   width: 1060px;
   margin: 0 auto;
}

.site-navigation {
   list-style: none;
   margin: 0 auto;
   padding: 15px 0;
   display: flex;
   flex-wrap: wrap;
   text-align: center;
}

.site-navigation-link {
   width: 243px;
}

.site-navigation-link:nth-child(1) {
   text-align: left;
}

.site-navigation-link:nth-child(2) {
   margin-right: 44px;
   text-align: left;
}

.site-navigation-link:nth-child(3) {
   margin-left: 44px;
   text-align: right;
}

.site-navigation-link:nth-child(4) {
   text-align: right;
}

.site-navigation a {
   color: #000000;
   line-height: 26px;
   display: block;
   white-space: nowrap;
}

.site-navigation a:hover {
   color: #81b3d2;
}

.site-navigation a:active {
   color: #b2b2b2;
   position: absolute left;
}

.site-navigation-link {
   font-weight: 700;
   line-height: 26px;
   text-align: center;
}

.main-header-logo {
   position: absolute;
   top: 0;
   left: 50%;
   margin-left: -69px;
   width: 142px;
   height: 71px;
}

.welcome-block {
   min-height: 510px;
   background: url("../img/polygon.png") 50% 101% no-repeat, url("../img/welcome.png") 50% 50% no-repeat, url("../img/first.jpg") 0 20% no-repeat;
   margin-bottom: 60px;
}

.visually-hidden {
   position: absolute;
   clip: rect(0, 0, 0, 0);
   padding: 0;
   border: 0;
   margin: -1px;
   height: 1px;
   width: 1px;
   overflow: hidden;
   white-space: nowrap;
   clip-path: inset(100%);
}

.reasons {
   text-align: center;
   margin-bottom: 50px;
}

.reasons-title {
   font-size: 21px;
   line-height: 26px;
   width: 445px;
   padding: 0;
   margin: 0 auto 28px;
}

.reasons-text {
   font-size: 14px;
   line-height: 26px;
   color: #333333;
   margin: 0;
}

.feature-city-info {
   display: flex;
   margin-bottom: 60px;
   margin: 0;
}

.feature-city {
   padding: 53px 0 54px;
   width: 400px;
   text-align: center;
   background-color: #81b3d2;
}

.feature-city-title {
   font-size: 21px;
   line-height: 21px;
   width: 200px;
   margin: 0 auto;
   padding: 0;
   color: #ffffff;
}

.feature-city-number {
   display: block;
   color: #333333;
   padding-top: 25px;
   padding-bottom: 21px;
   color: #ffffff;
}

.feature-city-text {
   color: #ffffff;
   width: 290px;
   margin: 0 auto;
   padding: 0;
}

.feature-city-picture {
   width: 800px;
   background-image: url("../img/hotel.jpg");
}

.feature-item-info {
   display: flex;
   margin-bottom: 60px;
   justify-content: space-between;
}

.feature-item {
   text-align: center;
   padding-top: 160px;
   position: relative;
   margin: 0;
}

.feature-item-house::before {
   content: "";
   background-image: url(../img/icon-1.svg);
   background-repeat: no-repeat;
   position: absolute;
   top: 60px;
   left: 167px;
   width: 75px;
   height: 72px;
}

.feature-item-present::before {
   content: "";
   background-image: url(../img/icon-2.svg);
   position: absolute;
   background-repeat: no-repeat;
   top: 60px;
   left: 175px;
   width: 75px;
   height: 76px;
}

.feature-item-souvenirs::before {
   content: "";
   background-image: url(../img/icon-3.svg);
   position: absolute;
   background-repeat: no-repeat;
   top: 60px;
   right: 146px;
   width: 75px;
   height: 76px;
}

.feature-title {
   font-size: 21px;
   line-height: 21px;
   display: block;
   width: 125px;
   margin: 0 auto 25px;
}

.feature-text {
   color: #333333;
}

.feature-second-info {
   display: flex;
   text-align: center;
}

.feature-second-canyon {
   width: 400px;
   padding: 53px 0 54px;
   text-align: center;
   background-color: #81b3d2;
}

.feature-second-canyon-title {
   font-size: 21px;
   line-height: 21px;
   width: 200px;
   margin: 0 auto;
   padding: 0;
   color: #ffffff;
}

.feature-second-canyon-number {
   display: block;
   color: #333333;
   padding-top: 25px;
   padding-bottom: 21px;
   color: #ffffff;
}

.feature-second-canyon-text {
   display: inline-table;
   color: #ffffff;
   width: 300px;
   margin: 0 auto;
   padding: 0;
}

.feature-second-canyon-picture {
   width: 800px;
   background-image: url("../img/canyon.jpg");
}

.feature-second-item-info {
   display: flex;
   margin-bottom: 45px;
   justify-content: space-between;
}

.feature-second-item {
   text-align: center;
   width: 400px;
   margin-bottom: 10px;
   padding: 40px 65px;
}

.feature-second-title {
   font-size: 21px;
   line-height: 21px;
   width: 125px;
   padding-left: 80px;
}

.feature-second-number {
   color: #333333;
}

.feature-second-text {
   color: #333333;
   margin: 0;
   margin-top: 20px;
}

.find-hotel {
   text-align: center;
}

.find-hotel-title {
   font-size: 30px;
   line-height: 36px;
}

.find-hotel-text {
   line-height: 24px;
   color: #333333;
   content: none;
}

.modal-hotel-form {
   position: relative;
   width: 568px;
   margin-left: auto;
   margin-right: auto;
}

.find-hotel-button {
   font-size: 21px;
   line-height: 26px;
   color: #ffffff;
   text-transform: uppercase;
   background-color: #766357;
   border: none;
   font-weight: 700;
   padding: 30px;
   width: 100%;
}

.find-hotel-button:hover {
   background-color: #604e43;
}

.find-hotel-button:active {
   color: #857871;
}

.hotel-form {
   width: 450px;
   padding: 46px 52px;
}

.hotel-form-item {
   width: 340px;
   display: flex;
   align-items: center;
}

.hotel-form-label {
   line-height: 26px;
   font-weight: 700;
   align-items: center;
   padding-left: 4px;
}

.hotel-form-label-info {
    width: 114px;
    line-height: 26px;
    font-weight: 700;
}

.hotel-form-input::input-placeholder {
   text-transform: uppercase;
}

.hotel-form-input {
   line-height: 26px;
   font-weight: bold;
   text-transform: uppercase;
   border: none;
   padding-left: 30px;
   position: relative;
   background-color: #f2f2f2;
}

.hotel-form-input:hover {
   background-color: #ebebeb;
}

.hotel-form-input:focus {
   color: #e5e5e5;
}

.hotel-form-item-calendar-btn {
   position: absolute;
   border: none;
    width: 21;
   height: 22;
   left: 470px;
   opacity: 0.3;
}

.hotel-form-item-calendar-btn:hover {
   opacity: 1;
}

.hotel-form-item-calendar-btn:active {
   fill: #81b3d2;
}

.hotel-form-info {
   display: flex;
   align-items: baseline;
   padding-top: 10px;
}

.hotel-form-item-info {
   display: flex;
   align-items: center;
   padding-top: 22px;
}

.hotel-form-button-minus {
   width: 38px;
   height: 38px;
   border: none;
   background-color: #f2f2f2;
   position: relative;
   background-color: #f2f2f2;
}

.hotel-form-button-minus:before {
   content: "";
   position: absolute;
   width: 12px;
   height: 3px;
   background-color: #a9a9a9;
   left: 14px;
   top: 13px;
}

.hotel-form-button-minus:hover:before {
   color: 000000;
}

.hotel-form-button-minus:focus:before {
  color:  #81b3d2;
}


.hotel-form-button-plus {
   width: 38px;
   height: 38px;
   border: none;
   background-color: #f2f2f2;
   position: relative;
}

.hotel-form-button-plus::before {
   content: "";
   position: absolute;
   width: 12px;
   height: 3px;
   background-color: #a9a9a9;
   left: 13px;
   top: 13px;
}

.hotel-form-button-plus::after {
    content: "";
   position: absolute;
   width: 12px;
   height: 3px;
   background-color: #a9a9a9;
   left: 13px;
   top: 13px;
   transform: rotate(90deg);
}

.hotel-form-button-plus:hover:before {
   color: 000000;
}

.hotel-form-button-plus:focus:before {
  color:  #81b3d2;
}


.hotel-form-item-adults {
   width: 227px;
   display: flex;
}

.hotel-form-adults {
   width: 114px;
   display: flex;
   margin-left: 39px;
}

.hotel-form-input-number {
   width: 38px;
   border: none;
   font-weight: bold;
   padding-bottom: 13px;
   text-align: center;
}

.hotel-form-item-children {
   width: 180px;
   display: flex;   
}

.hotel-form-children {
   width: 114px;
   display: flex;
}


.hotel-form-submit {
   font-size: 21px;
   line-height: 26px;
   color: #ffffff;
   text-transform: uppercase;
   background-color: #81b3d2;
   font-weight: 700;
   margin-top: 42px;
   width: 100%;
   padding: 16px 48px;
   width: 450px;
}

.hotel-form-submit:hover {
   background-color: #669ec0;
}

.hotel-form-submit:active {
   color: #88b6d1;
}

.main-footer {
   display: flex;
   margin-top: 35px;
   padding: 36px 0;
   align-items: center;
}

.main-footer-hashtag {
   width: 400px;
   margin: 0 auto;
}

.main-footer-text {
   font-size: 21px;
   line-height: 26px;
   color: #000000;
   font-weight: 700;
   margin-left: 133px;
}

.footer-social ul {
   margin: 0;
}

.footer-social {
   list-style: none;
   width: 400px;
   display: flex;
   flex-wrap: wrap;
   padding: 0;
   list-style: none;
   margin: 0 auto;
   justify-content: center;
}

.social-button {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 46px;
   height: 48px;
   margin-left: 6px;
   background-color: #81b3d2;
}

.footer-social a:hover {
   background-color: #669ec0;
}

.hotel-form-submit a:active {
   color: #88b6d1;
}

.social-button:hover path {
   fill: #ffffff;
}

.social-button:active path {
   fill: #5496bd;
}

.footer-copyright {
   width: 400px;
   margin: 0 auto;
   display: flex;
}

.footer-copyright-academy {
   width: 115px;
   height: 40px;
   display: block;
   background-image: url(../img/logo-htmlacademy.svg);
   background-repeat: no-repeat;
   font-size: 0;
   margin-left: 8px;
}

.social-button {
   color: #ffffff;
}

.footer-copyright {
   text-align: center;
   line-height: 26px;
}

.filters {
   display: flex;
   background-image: url(../img/filter.jpg);
   height: 215px;
   color: #ffffff;
   padding-top: 10px;
   padding-right: 65px;
}

.filters-options {
   padding: 14px 69px;
}

.filters-options-title {
   line-height: 21px;
   font-size: 16px;
   margin-left: 3px;
}

.filters-options-item label {
   position: relative;
   display: block;
   cursor: pointer;
   user-select: none;
}

.filter-input-checkbox:checked+label::after {
   content: "";
   position: absolute;
   top: -1px;
   left: -38px;
   width: 32px;
   height: 25px;
   background-image: url("../img/checkbox-on.svg");
   background-repeat: no-repeat;
   background-position: 0 0;
}

.filters-options-label::after {
   content: "";
   position: absolute;
   top: -1px;
   left: -38px;
   width: 32px;
   height: 25px;
   background-image: url("../img/checkbox-off.svg");
   background-repeat: no-repeat;
   background-position: 0 0;
}

.filters-options-item {
   margin-left: 40px;
   margin-top: 24px;
}

.filters-options-label {
   font-size: 16px;
}

.filter-range {
   width: 330px;
   margin-left: auto;
   text-transform: uppercase;
   padding-top: 14px;
}

.filter-range-title {
   margin-bottom: 9px;
   font-weight: bold;
   font-size: 16px;
   line-height: 21px;
}

.filters-options-input {
   display: none;
}

.price-controls {
   position: relative;
   height: 36px;
   margin-bottom: 20px;
   font-size: 0;
   border: 2px solid #ffffff;
   border-radius: 2px;
}

.price-controls::after {
   content: "";
   position: absolute;
   top: 50%;
   left: 50%;
   width: 2px;
   height: 22px;
   background: #ffffff;
   transform: translate(-50%, -50%);
}

.price-controls label {
   display: inline-block;
   font-size: 14px;
   line-height: 38px;
   vertical-align: top;
   cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
   width: 90px;
   padding-left: 65px;
}

.price-controls input {
   width: 50px;
   margin: 0;
   color: inherit;
   font: inherit;
   background: none;
   border: none;
}

.range-controls {
   position: relative;
   margin-bottom: 32px;
}

.range-controls .scale {
   height: 2px;
   background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
   width: 80%;
   height: 2px;
   background: #ffffff;
}

.range-toggle {
   position: absolute;
   top: -9px;
   width: 4px;
   height: 4px;
   background: #ababab;
   border: 8px solid #ffffff;
   border-radius: 50%;
   box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
   cursor: pointer;
}

.range-toggle:hover {
   background: #1c4f80;
}

.range-toggle-min {
   left: 0;
}

.range-toggle-max {
   left: 80%;
}

.btn-transparent {
   display: block;
   margin: 0 auto;
   padding: 6px 35px;
   font-size: 14px;
   line-height: 20px;
   color: #ffffff;
   text-transform: uppercase;
   background: transparent;
   border: 2px solid #ffffff;
   border-radius: 2px;
   cursor: pointer;
}

.btn-transparent:hover {
   color: #000000;
   background: #ffffff;
}

.site-navigation-link.active a {
   color: #766357;
}

.hotels {
   display: flex;
   padding-left: 70px;
   align-items: baseline;
}

.hotels-sort {
   display: flex;
   align-items: center;
   font-size: 26px;
   line-height: 26px;
}

.hotels-sort-title {
   font-size: 21px;
   line-height: 26px;
   font-weight: bold;
}

.hotels-sort-count {
   font-weight: bold;
}

.hotels-sort-list {
   list-style: none;
   display: block;
   display: flex;
   padding: 0;
   margin-left: 26px;
   align-items: baseline;
}

.hotels-sort-list-title {
   font-size: 12px;
   line-height: 18px;
}

.hotels-sort-item a {
   font-size: 12px;
   padding: 30px;
   color: #cacaca;
}

.hotels-sort-link.active {
   color: #81b3d2;
}

.hotels-sort-item a:hover {
   color: #81b3d2;
}

.hotels-sort-item a:active {
   color: #000000;
}

.hotels-sort-updown {
   margin-left: auto;
   padding-right: 73px;
}

.hotels-sort-updown path {
   fill: #cacaca;
}

.hotels-sort-updown:hover path {
   fill: #231f20;
}

.hotels-sort-updown:active path {
   fill: #81b3d2;
}

.hotels-sort-updown-link-active path {
   fill: #81b3d2;
}

.catalog-list {
   margin: 0;
   padding: 0;
}

.catalog-item {
   display: flex;
   list-style: none;
   padding: 30px 74px;
   padding-top: 34px;
   padding-bottom: 22px;
   border-top: 1px solid #e5e5e5;
}

.catalog-item:nth-child(1) {
   border-top: 1px solid #e5e5e5;
}

.catalog-item-photo {
   width: 136px;
   height: 90px;
}

.catalog-item-title-opisaniye {
   margin-left: 30px;
}

.catalog-item-title {
   font-size: 21px;
   line-height: 26px;
   font-weight: bold;
   margin: -5px auto;
   margin-bottom: 8px;
}

.catalog-item-title a {
   color: #000000;
}

.catalog-item-title a:hover {
   color: #81b3d2;
}

.catalog-item-title a:active {
   color: #b2b2b2;
}

.catalog-item-hotel {
   color: #333333;
}

.catalog-item-price {
   color: #333333;
   padding-left: 35px;
}

.catalog-item-links {
   display: flex;
   padding-top: 7px;
}

.catalog-item-more {
   font-size: 14px;
   line-height: 21px;
   color: #ffffff;
   text-transform: uppercase;
   background-color: #81b3d2;
   border: none;
   font-weight: bold;
   display: block;
   margin-right: 7px;
   padding: 7px 18px;
}

.catalog-item-book {
   font-size: 14px;
   line-height: 21px;
   color: #ffffff;
   text-transform: uppercase;
   background-color: #766357;
   border: none;
   font-weight: bold;
   display: block;
   padding: 7px 18px;
}

.catalog-item-more:hover {
   background-color: #669ec0;
}

.catalog-item-more:active {
   color: #88b6d1;
}

.catalog-item-rating {
   min-height: 95px;
   padding-right: 73px;
   padding-left: 522px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: flex-end;
}

.catalog-item-rating-star {
   order: -1;
   display: flex;

}

.catalog-item-rating-star-img {
   width: 18px;
   height: 17px;
   background-image: url("../img/star.svg");
   background-repeat: no-repeat;
   padding-left: 5px;
}

.catalog-item-rating b {
   width: 110px;
   height: 27px;
   text-align: center;
   font-weight: normal;
   font-size: 14px;
   line-height: 21px;
   color: #666666;
   background-color: #f2f2f2;
   display: flex;
   align-items: center;
   justify-content: center;
   padding-top: 20px;
}


.catalog-item-book:hover {
   background-color: #604e43;
}

.catalog-item-book:active {
   color: #857871;
}