body {
   padding: 0px;
   font-family: 'PT Sans', Arial, sans-serif;
   font-size: 14px;
   line-height: 21px;
   text-transform: uppercase;
   width: 1200px;
   margin: 0 auto;
   background-color: #fff;
   box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

a {
   text-decoration: none;
}

.main-navigation-wrapper {
   width: 100%;
}

.main-navigation {
    width: 1060px;
    margin: 0 auto;
}

.site-navigation {
   list-style: none;
   margin: 0 auto;
   padding: 15px 0;
   display: flex;
   flex-wrap: wrap;
   text-align: center;
}

.site-navigation-link {
   width: 243px;

}

.site-navigation-link:nth-child(1) {
   text-align: left;
}

.site-navigation-link:nth-child(2) {
   margin-right: 44px;
   text-align: left;
}

.site-navigation-link:nth-child(3) {
   margin-left: 44px;
   text-align: right;
}

.site-navigation-link:nth-child(4){
   text-align: right;
}

.site-navigation a {
   color: #000000;
   line-height: 26px;
   display: block;
   white-space: nowrap;
}
.site-navigation a:hover {
   color: #81b3d2;
}

.site-navigation a:active {
   color: #b2b2b2;
   position: absolute left;
}

.site-navigation-link {
   font-weight: 700;
   line-height: 26px;
   text-align: center;
}

.main-header-logo {    
   position: absolute;
   top: 0;
   left: 50%;
   margin-left: -69px;
   width: 142px;
   height: 71px;

}

.welcome-block {
   min-height: 510px;
   background:
    url("../img/polygon.png") 50% 101% no-repeat,
    url("../img/welcome.png") 50% 50% no-repeat,
    url("../img/first.jpg") 0 20% no-repeat;
    margin-bottom: 60px;
}

.visually-hidden {
   position: absolute;
   clip: rect(0, 0, 0, 0);
   padding: 0;
   border: 0;
   margin: -1px;
   height: 1px;
   width: 1px;
   overflow: hidden;
   white-space: nowrap;
   clip-path: inset(100%);
}

.reasons {
   text-align: center;
   margin-bottom: 60px;
}

.reasons-title {
   font-size: 21px;
   line-height: 26px;
   width: 445px;
   padding: 0;
   margin: 0 auto 28px;
}

.reasons-text {
   font-size: 14px;
   line-height: 26px;
   color: #333333;
   margin: 0;
}

.feature-city-info {
   display: flex;
   margin-bottom: 60px;
   margin: 0;
}

.feature-city {
   padding: 53px 0 54px;
   width: 400px;
   text-align: center;
   background-color: #81b3d2;
}

.feature-city-title {
   font-size: 21px;
   line-height: 21px;
   width: 200px;
   margin: 0 auto;
   padding: 0;
   color: #ffffff;
}

.feature-city-number {
   display: block;
   color: #333333;
   padding-top: 25px;
   padding-bottom: 21px;
   color: #ffffff;
}

.feature-city-text {
   color: #ffffff;
   width: 290px;
   margin: 0 auto;
   padding: 0;
}

.feature-city-picture {
   width: 800px;
   background-image: url("../img/hotel.jpg") ;
}

.feature-item-info {
   display: flex;
   margin-bottom: 82px;
   justify-content: space-between;
}

.feature-item {
   text-align: center;
   padding-top: 160px;
   position: relative;
}

.feature-item-house::before {
   content: "";
   background-image: url(../img/icon-1.svg);
   background-repeat: no-repeat;
   position: absolute;
   top: 60px; 
   left: 167px;
   width: 75px;
   height: 72px;
}

.feature-item-present::before {
   content: "";
   background-image: url(../img/icon-2.svg);
   position: absolute;
   background-repeat: no-repeat;
   top: 60px;
   left: 180px;
   width: 75px;
   height: 76px;
}

.feature-item-souvenirs::before {
   content: "";
   background-image: url(../img/icon-3.svg);
   position: absolute;
   background-repeat: no-repeat;
   top: 60px;
   right: 145px;
   width: 75px;
   height: 72px;

}

.feature-title {
   font-size: 21px;
   line-height: 21px;
   display: block;
   width: 125px;
   margin: 0 auto 25px;
}

.feature-text {
   color: #333333;
}

.feature-second-info {
   display: flex;
   margin-bottom: 50px;
   text-align: center;
}

.feature-second-canyon {
   width: 400px;
   padding: 53px 0 54px;
   text-align: center;
   background-color: #81b3d2;
}

.feature-second-canyon-title {
   font-size: 21px;
   line-height: 21px;
   width: 200px;
   margin: 0 auto;
   padding: 0;
   color: #ffffff;
}

.feature-second-canyon-number {
   display: block;
   color: #333333;
   padding-top: 25px;
   padding-bottom: 21px;
   color: #ffffff;
}

.feature-second-canyon-text {
   display: inline-table;
   color: #ffffff;
   width: 300px;
   margin: 0 auto;
   padding: 0;
}

.feature-second-canyon-picture {
   width: 800px;
   background-image: url("../img/canyon.jpg");
}

.feature-second-item-info {
   display: flex;
   margin-bottom: 55px;
   justify-content: space-between;
}

.feature-second-item {
   text-align: center;
   width: 400px;
   margin-bottom: 10px;
   padding: 48px 65px;
}

.feature-second-title {
   font-size: 21px;
   line-height: 21px;
}

.feature-second-number {
   color: #7d7d7d;
}


.feature-second-text {
   color: #7d7d7d;
   margin: 0;
   margin-top: 20px;
}

.find-hotel {
   text-align: center;
}

.find-hotel-title {
   font-size: 30px;
   line-height: 36px;
}

.find-hotel-text {
   line-height: 24px;
   color: #333333;
   content: none;
}

.find-hotel-button {
   font-size: 21px;
   line-height: 26px;
   color: #ffffff;
   text-transform: uppercase;
   background-color: #766357;
   border: none;
   font-weight: 700;
}

.find-hotel-button:hover {
   background-color: #604e43;
}

.find-hotel-button:active {
   color: #857871;
}

.hotel-form-label {
   line-height: 26px;
   font-weight: 700;
}

.hotel-form-input::-webkit-input-placeholder {
   text-transform: uppercase;
}

.hotel-form-input {
   line-height: 26px;
   font-weight: 700;
}

.hotel-form-submit {
   font-size: 21px;
   line-height: 26px;
   color: #ffffff;
   text-transform: uppercase;
   background-color: #81b3d2;
   font-weight: 700;
}

.hotel-form-submit:hover {
   background-color: #669ec0;
}

.hotel-form-submit:active {
   color: #88b6d1;
}

.main-footer {
   display: flex;
   margin-top: 35px;
   padding: 36px 0;
   align-items: center;

}

.main-footer-hashtag {
   width: 400px;
   margin:0 auto;
}

.main-footer-text {
   font-size: 21px;
   line-height: 26px;
   color: #000000;
   font-weight: 700;
   margin-left : 133px;
}

.footer-social ul {
   margin: 0;
}

.footer-social {
   list-style: none;
   width: 400px;
   display: flex;
   flex-wrap: wrap;
   padding: 0;
   list-style: none;
   margin: 0 auto;
   justify-content: center;

}

.social-button {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 46px;
   height: 48px;
   margin-left: 6px;
   background-color: #81b3d2;
}


.footer-social a:hover {
   background-color: #669ec0;
}

.hotel-form-submit a:active {
   color: #88b6d1;
}

.social-button:hover path{
   color: #ffffff;
}

.social-button:active path {
   fill: #5496bd;
}

.footer-copyright {
   width: 400px;
   margin:0 auto;
   display: flex;
}

.footer-copyright-academy {
   width: 115px;
   height: 40px;
   display:block;
   background-image: url(../img/logo-htmlacademy.svg);
   background-repeat: no-repeat;
   font-size: 0;
   margin-left: 8px;
}

.social-button {
   color: #ffffff;
}

.footer-copyright {
   text-align: center;
   line-height: 26px;
}

.site-navigation-link.active a {
   color: #766357;
}

.catalog-list {
   margin: 0;
   padding: 0;
}

.catalog-item {
   display: flex;
   list-style: none;
   padding: 30px 60px;
   border-bottom: 1px solid #e5e5e5;
}

.catalog-item-title-opisaniye {
   margin-left: 30px;
}

.catalog-item-title {
   font-size: 21px;
   line-height: 26px;
   font-family: 700px;
   margin: 0 auto;
   margin-bottom: 10px;

}

.catalog-item-title a {
   color: #000000;
}

.catalog-item-title a:hover {
   color: #81b3d2;
}

.catalog-item-title a:active {
   color: #b2b2b2;
}

.catalog-item-hotel {
   color: #333333;
}

.catalog-item-price {
   color: #333333;
}

.catalog-item-rating-text {
   color: #333333;
   background-color: #f2f2f2;
}

.catalog-item-links {
   display: flex;
   padding-top: 15px;
   display: block;
}

.catalog-item-more {
   font-size: 14px;
   line-height: 21px;
   color: #ffffff;
   text-transform: uppercase;
   background-color: #81b3d2;
   border: none;
   font-weight: 700;
   height: 27px;
   padding: 5px;
}

.catalog-item-book {
   font-size: 14px;
   line-height: 21px;
   color: #ffffff;
   text-transform: uppercase;
   background-color: #766357;
   border: none;
   font-weight: 700;
   margin-right: 6px;
   height: 27px;
   padding: 5px;

}

.catalog-item-more:hover {
   background-color: #669ec0;
}

.catalog-item-more:active {
   color: #88b6d1;
}

.catalog-item-rating { 
   margin-left: auto;
   margin-right: 70px;
}

.catalog-item-star {
   width: 18px;
   height: 17px;
   background-image: url("../img/star.svg");
   background-repeat: no-repeat;
}

.catalog-item-book:hover {
   background-color: #604e43;
}

.catalog-item-book:active {
   color: #857871;
}