body {
   padding: 0px;
   font-family: 'PT Sans', Arial, sans-serif;
   font-size: 14px;
   line-height: 21px;
   text-transform: uppercase;
   width: 1200px;
   margin: 0 auto;
   background-color: #fff;
   box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

a {
   text-decoration: none;
}

.main-header {
   margin-bottom: 75px;
}

.main-navigation-wrapper {
   width: 100%;
}

.main-navigation {
   color: #000000;
   align-items: center;
}

.site-navigation {
   list-style: none;
   margin: 0 auto;
   padding: 15px 0;
   width: 1050px;
   display: flex;
}

.site-navigation a {
   color: #000000;
   line-height: 26px;
}

.site-navigation a:hover {
   color: #81b3d2;
}

.site-navigation a:active {
   color: #b2b2b2;
}

.site-navigation-link {
   font-weight: 700;
   line-height: 26px;
}

.main-header-logo {
   position: absolute;
   top: 0;
   left: 50%;
   margin-left: -69px;
}

.visually-hidden {
   position: absolute;
   clip: rect(0, 0, 0, 0);
   padding: 0;
   border: 0;
   margin: -1px;
   height: 1px;
   width: 1px;
   overflow: hidden;
   white-space: nowrap;
   clip-path: inset(100%);
}

.reasons {
   text-align: center;
   margin-bottom: 60px;
}

.reasons-title {
   font-size: 21px;
   line-height: 26px;
}

.reasons-text {
   font-size: 14px;
   line-height: 26px;
   color: #333333;
}

.feature-city-info {
   display: flex;
   margin-bottom: 60px;
}

.feature-city {
   margin: 0;
   padding: 0;
   list-style: none;
   width: 400px;
   text-align: center;
}

.feature-city-title {
   font-size: 21px;
   line-height: 21px;
}

.feature-city-number {
   color: #333333;
}

.feature-city-text {
   color: #333333;
}

.feature-city-picture {
   width: 800px;
   height: 400px;
   background-image: url("../img/hotel.jpg");
}

.feature-item-info {
   display: flex;
   margin-bottom: 82px;
   justify-content: space-between;
}

.feature-item {
   text-align: center;
   width: 400px;
}

.feature-title {
   font-size: 21px;
   line-height: 21px;
}

.feature-text {
   color: #333333;
}

.feature-second-info {
   display: flex;
   margin-bottom: 50px;
   text-align: center;
}

.feature-second-canyon {
   width: 400px;
}

.feature-second-canyon-number {
   color: #333333;
}

.feature-second-canyon-text {
   color: #333333;
   display: inline-table;
}

.feature-second-canyon-picture {
   width: 800px;
   height: 400px;
   background-image: url("../img/canyon.jpg");
}

.feature-second-item-info {
   display: flex;
   margin-bottom: 55px;
   justify-content: space-between;
}

.feature-second-item {
   text-align: center;
}

.feature-second-number {
   color: #333333;
}

.feature-second-title {
   font-size: 21px;
   line-height: 21px;
}

.feature-second-text {
   color: #333333;
}

.find-hotel {
   text-align: center;
}

.find-hotel-title {
   font-size: 30px;
   line-height: 36px;
}

.find-hotel-text {
   line-height: 24px;
   color: #333333;
   content: none;
}

.find-hotel-button {
   font-size: 21px;
   line-height: 26px;
   color: #ffffff;
   text-transform: uppercase;
   background-color: #766357;
   border: none;
   font-weight: 700;
}

.find-hotel-button:hover {
   background-color: #604e43;
}

.find-hotel-button:active {
   color: #857871;
}

.hotel-form-label {
   line-height: 26px;
   font-weight: 700;
}

.hotel-form-input::-webkit-input-placeholder {
   text-transform: uppercase;
}

.hotel-form-input {
   line-height: 26px;
   font-weight: 700;
}

.hotel-form-submit {
   font-size: 21px;
   line-height: 26px;
   color: #ffffff;
   text-transform: uppercase;
   background-color: #81b3d2;
   font-weight: 700;
}

.hotel-form-submit:hover {
   background-color: #669ec0;
}

.hotel-form-submit:active {
   color: #88b6d1;
}

.main-footer {
   display: flex;
   margin-top: 35px;
}

.main-footer-hashtag {
   font-size: 21px;
   line-height: 26px;
   color: #000000;
   font-weight: 700;
}

.footer-social {
   list-style: none;
   text-align: center;
   background-color: #81b3d2;
}

.footer-social a:hover {
   color: #81b3d2;
}

.footer-social a:active {
   color: #5496bd;
}

.social-button {
   color: #ffffff;
}

.footer-copyright {
   text-align: center;
   line-height: 26px;
}

.site-navigation-link.active a {
   color: #766357;
}

.catalog-list {}

.catalog-item {
   display: flex;
   list-style: none;
}

.catalog-item-title {
   font-size: 21px;
   line-height: 26px;
   font-family: 700px;
}

.catalog-item-title a {
   color: #000000;
}

.catalog-item-title a:hover {
   color: #81b3d2;
}

.catalog-item-title a:active {
   color: #b2b2b2;
}

.catalog-item-hotel {
   color: #333333;
}

.catalog-item-price {
   color: #333333;
}

.catalog-item-rating-text {
   color: #333333;
   background-color: #f2f2f2;
}

.catalog-item-more {
   font-size: 14px;
   line-height: 21px;
   color: #ffffff;
   text-transform: uppercase;
   background-color: #81b3d2;
   border: none;
   font-weight: 700;
}

.catalog-item-more:hover {
   background-color: #669ec0;
}

.catalog-item-more:active {
   color: #88b6d1;
}

.catalog-item-book {
   font-size: 14px;
   line-height: 21px;
   color: #ffffff;
   text-transform: uppercase;
   background-color: #766357;
   border: none;
   font-weight: 700;
}

.catalog-item-book:hover {
   background-color: #604e43;
}

.catalog-item-book:active {
   color: #857871;
}